body{
  display: flex;
  width:100vw;
  height:100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: bisque;
}
.card{
  background-color:burlywood;
  padding:20px;
  border-radius: 20px;
  color:brown;
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}
.generate-btn{
  color:brown ;
  background-color: transparent ;
  font-size: 20px;
  border-radius: 10px;
  cursor:pointer;
  border: 2px solid white;
  transition: 0.5s;
}
.generate-btn:hover{
  background-color: white;
  color: brown;
}